/** Global reset styles **/

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    
}

/** CSS Variables **/

:root {
    --offWhite: #e7e7e7; 
    --headerGradient: linear-gradient(#e2e2e2, #ffffff);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 700;
}

/** Nav bar with flex for responsive design**/

nav {
    background: linear-gradient(to right, #23813f, #2e9c6e);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav > img {
    display: flex;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

ul {
    height: 10vh;
    margin: 0% 5% 0% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    list-style-type: none;
}

ul li:not(:last-child) {
    margin-right: 30px;
}

/** Header with svg on top of background gradient **/

header {
    height: 100vh;
    background-image: url(imgs/aussie-kids-vector.svg), var(--headerGradient);
    background-repeat: no-repeat;
    background-position: 0% 80%;
    background-size: contain;
    background-blend-mode: soft-light;
    text-align: center;
}

header > h1 {
    font-size: 4rem;
    color: black;
    padding-top: 4em;
    padding-bottom: 1em;
}

header > div {
    display: inline-block;
}

/** Button  **/

p > button {
    display: inline-block;
    border-radius: 5px;
    border: 2px solid currentColor;
    background: none;
    padding: 0.3em 0.8em;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    font-family: inherit;
    margin-bottom: 2rem;
}

button:hover {
    background-color: green;
    color: white;
    transition: 500ms ease-in-out;
}

/** About section with cards and low contrast bg img, 
    changes: display: inline-block to show new learning concepts **/

article {
    background: url(imgs/logo-normal-ai.svg), url(imgs/header-bg.png) no-repeat center center fixed;
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    height: 100vh;
    text-align: center;
    line-height: 1.7rem;
}

article > div {
    background: linear-gradient(to right, #23813f, #2e9c6e);
    width: 80%;
    display: inline-block;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 5rem;
}

/** Responsive design for mobile **/

@media screen and (max-width: 800px) {
    article > div {
        background: linear-gradient(to left, #23813f, #2e9c6e);
        margin-top: 1.5rem;
        line-height: 1.5rem;
    }
}

article > div > h2 {
    padding-bottom: 0.5em;
}

/** Quote section with svg **/

section {
    background-image: url(imgs/logo-normal-ai.svg), linear-gradient(to right, #23813f, #2e9c6e);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: auto;
    height: 100vh;
    line-height: 1.6rem;
}

blockquote {
    padding: 10%;
}

blockquote > h1 {
    font-size: 4rem;
}

blockquote > h3 {
    font-size: 2rem;
}

blockquote > p {
    font-size: 1rem;
}

blockquote > span {
    display: inline-block;
    height: 2px;
    width: 190px;
    background-color: var(--offWhite);
    margin-bottom: 10%;
    margin-top: 2%;
}

/** Main section, instead of photoshopping a gradient I used CSS to darken the area of the content **/

main {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%), url(imgs/banner.png) no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    padding: 10%;
}

main > h1 {
    font-size: 2rem;
}

main > span {
    display: inline-block;
    height: 2px;
    width: 155px;
    background-color: white;
    margin-bottom: 10%;
    margin-top: 2%;
}

/** Repeat background with svg on top **/

div > section {
    height: 100vh;
    background-color: #e5e5f7;
    background-image: url(imgs/aussie-kids-vector.svg), repeating-linear-gradient( 45deg, #4584f7, #4584f7 5px, #e5e5f7 5px, #e5e5f7 25px );
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: overlay;
    color: black;
    padding: 10%;
    text-align: left;
}

/** W3 HTML Checker didn't like my structure so I revamped everything here **/

div > h2 {
    font-size: 2rem;
}

div > section > span {
    display: inline-block;
    height: 2px;
    width: 155px;
    background-color: black;
    margin-bottom: 10%;
    margin-top: 2%;
}

/** Footer with CSS Grid for another layout concept**/

footer {
    background-color: var(--headerGradient);
    background-image: url(imgs/avatar-tile.png);
    background-repeat: repeat;
    color: black;
    height: 10rem;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    justify-content: center;
    row-gap: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer > img {
    justify-self: end;
    grid-column: 1/2;
    margin-right: 10px;
}

footer > p {
    justify-self: start;
}

footer > span {
    text-align: center;
    grid-column: 3/4;
    grid-row: 2/4;
}



